<label>{{serverName}} </label>

<!-- THIS IS AN EXAMPLE OF ONE WAY BINDING -->

<!-- <input
  type = "text"
  class = "form-control"
  (input) = "onUpdateServerName($event)"

> -->

<!-- THIS IS AN EXAMPLE OF TWO WAY BINDING (INPUT + BUTTON) -->

<input
  type = text
  class = "form-control"

>

<!-- PROPERTY BINDING IS USED HERE FOR THE BUTTON -->
<button   class = "btn btn-primary"
          [disabled] = "!allowNewServer"
          (click) = "onCreateServer()">
          Add Server</button>

<p>{{serverCreationStatus}}</p>
<p [innerText] = "allowNewServer"></p>


<app-server *ngFor="let server of servers">

</app-server>

<!-- THIS IS ONE OF THE ASSIGNMENTS -->

<!-- <p>
  {{userName}}
</p> -->

<!-- <input
  type = text;
  class = form-control
  (input) = "checkUsername($event)"
  [(ngModel)] = "userName"
> -->


<!-- <button   class = "btn btn-primary"
          [disabled] = "userName !== ''"
          (click) = "resetUsername()">
          Reset Username</button> -->







<!-- THIS IS THE DIRECTIVE ASSIGNMENT -->
