<header> Hello fellow gamers</header>
<h1> THE H1</h1>
<h2> THE H2</h2>
<title> My application </title>
<hr>

<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert>

<app-servers></app-servers>



<button class ="btn tbn-prmary"
        (click) = "onToggle()">Uncover the Truth</button>
<p *ngIf = showTruth >THE CAKE IS A LIE</p>
<div  *ngFor = "let logItem of log; let i = index"
      [ngStyle] = "{backgroundColor: logItem >= 5? 'blue' : 'transparent'}"
      ng-class = "{'white-text': logItem >=5 }"
>{{logItem}}</div>
