@keyframes changeGreen {
  0% {color: green;}
  50% {color: greenyellow;}
  100% {color: green;}
}

h1{
  color : green;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

h1:hover{
  text-align: center;
  background-color: aliceblue;
  animation: changeGreen 500ms linear infinite;

}
